<!-- categories.html -->
{% extends 'admin/base.html' %}

{% block content %}
    <div class="content">


<h1>Категории</h1>

    <form method="POST" action="/admin/categories/add">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
        <textarea name="content" required></textarea>
            </div>
        <button type="submit" class="button">Добавить категорию</button>
    </form>


    <ul>
        {% for cat in categories %}
        <li>
            <p>{{ cat.rank }}- {{ cat.name }}</p>
            <form method="POST" action="/admin/categories/delete/{{ cat.category_id }}" style="display:inline;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="button">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>

 </div>
{% endblock %}