<!-- dishes.html -->
{% extends 'admin/base.html' %}

{% block content %}
    <div class="content">
        <h1>Блюда</h1>

        <form method="POST" action="/admin/dishes/add">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="table" border="1" style="width:100%">
                <tbody>
                <tr>
                    <td style="width:200px">Название блюда:</td>
                    <td><textarea name="name" required></textarea></td>
                </tr>
                <tr>
                    <td>Список ингридиентов:</td>
                    <td><textarea name="ingredients" required></textarea></td>
                </tr>
                <tr>
                    <td>
                        Категория:
                    </td>
                    <td><select name="cat">
                        {% for cat in cats %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>Рецепт:</td>
                    <td><textarea name="recipe" required></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="button">Добавить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>


        <ul>
            {% for dish in dishes %}
                <li>
                    <p>{{ dish.id }}- {{ dish.name }}- {{dish.category_id.name}}</p>
                    <a href="{{ url_for('admin_tagdish_edit',dish_id=dish.id) }}"
                       class="button">
                        Редактировать теги
                    </a>
                    <form method="POST" action="/admin/dishes/delete/{{ dish.id }}" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="button">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}